flask==0.10
flask-login
flask-openid
flask-sqlalchemy
sqlalchemy-migrate
flask-whooshalchemy
flask-wtf
flask-babel
guess_language
flipflop
coverage
flask-httpauth
git+git://github.com/Radahika/pear.git

