
a.user {
  width: 60px;
  height: 60px;
  background-color: #33cc77;
  background-size: cover;
  display: block;
  border-radius: 60px;
 -webkit-border-radius: 60px;
 -moz-border-radius: 60px;
 -webkit-transition: background-color 2s, opacity 2s;
 margin-left: 35%;
 padding-top: 5px;
}


.tasks-widget .task-list li .task-title .task-title-sp {
  font-size: .8em;
}

.tasks-widget .task-list li .task-description .task-description-sp {
  margin-right:5px;
}

.tasks-widget .task-list  li.task-done .task-description-sp  {
  text-decoration:line-through;
  color: #bbbbbb;
}

.button .btn-failure {

}
