
a.user {
  width: 60px;
  height: 60px;
  background-color: #33cc77;
  background-size: cover;
  display: block;
  border-radius: 60px;
 -webkit-border-radius: 60px;
 -moz-border-radius: 60px;
 -webkit-transition: background-color 2s, opacity 2s;
 margin-left: 35%;
 padding-top: 5px;
}

