
<!doctype html>
<html lang="en-US">
<head>

    <meta charset="utf-8">

    <title>Reset Password</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_style.css')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" >


  </head>

<body>
<header>
  <div class="content">
  <hgroup>
    <div class="container">

      <div id="reset_password">

        <h2><span class="fontawesome-lock"></span>Reset Password</h2>

        <form action="#" method="POST">

          <fieldset>

            <p><label for="username">Username</label></p>
            <p><input type="username" id="username" name="username" value="" placeholder="username" data-required="required"></p>
            <p><label for="email">Email Address</label></p>
            <p><input type="email" id="email" name="email" value="" placeholder="email address" data-required="required"></p>

            <p><label for="new_password">Password</label></p>
            <p><input type="password" name="new_password" value="" id="new_password" placeholder="new password" data-required="required"></p>

            <p><label for="new_password_repeat">Repeat Password</label></p>
            <p><input type="password" name="new_password_repeat" value="" id="new_password_repeat" placeholder="new password" data-required="required"></p>

            <div class="cancel_reset_password">
              <input type="button" value="Cancel" class="cancel" id="cancelButton">
                <input type="submit" value="Reset Password" class="reset_password">
            </div>
          </fieldset>

        </form>

      </div>

    </div>
    </hgroup>
  </div> <!-- end content -->

    <div class="overlay"></div>
</header>
 <script>
        function redirectToIndex() {
            location.href ="index";
        }
        document.getElementById("cancelButton").addEventListener("click", redirectToIndex, false);
    </script>

  </body>
</html>



