<!-- extend base layout -->
{% extends "layout.html" %}

{% block content %}
<form class="forgot_password_form" action="" method="post" name="reset_password">
    <div class="form-inputs">
      <div class="form_row">
      <input class="text_field" type="text" name="email" placeholder="Email" size="30" data-required="required">
    </div>
  </div>
<div class="cancel_reset_password">
    <input type="button" value="Cancel" class="cancel" id="cancelButton">
    <input type="submit" value="Reset Password" class="reset_password">


</div>
</form>

<script>

function redirectToIndex() {
    location.href ="index";
}
document.getElementById("cancelButton").addEventListener("click", redirectToIndex, false);

</script>

{% endblock %}

