
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Housemates</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home_style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
<header>
  <div class="content">
    <hgroup>
      <h1>Housemates</h1>
      <i>put your whiteboard away.</i> </hgroup>
  </div>
  <div class="overlay"></div>
</header>
<section class="site">
  <nav> <a href="{{ url_for('index') }}">Home</a> <a href="{{ url_for('login') }}">Log In</a> <a href="{{ url_for('register') }}">Sign Up</a> <a id="learn_more">Learn More</a> <a id="contact">Contact</a> </nav><div class="jquery-script-ads"><script type="text/javascript">
</script>
</div>


<section class="contents" id="learn_more">
  <div>
    <h1>Simplify Life</h1>
    <p> Housemates takes the pain out of living with roomates by helping handle the more annoying parts of living together.</p>
  </div>

  <div>
    <h1>Manage Money</h1>
    <p> We keep track of dept so you don't have to. Just enter what you buy for the house and we will take care of notifying your roomates what they owe you. We'll even crunch the numbers.</p>
  </div>

  <div>
    <h1>Balance Work</h1>
    <p>Someone not helping around the house? Relax. Tell Housemates the chores and we will rotate through the roommates to keep track of whose turn it is.</p>
  </div>

  <div>
    <h1>Talk it Out</h1>
    <p>Housemates gives you a place to talk all things house related. We give you a centralized comment board to leave messages, as well as anonymous comments.</p>
  </div>

  <div>
    <h1>Never Miss a Bill</h1>
    <p>We can remind you when your bills are due so you can avoid getting the power turned off on you during your parties! We can even let your roommates know how much they owe you each month.</p>
  </div>

  <div>
    <h1>We Keep it Private</h1>
    <p> Your room gets its own unuque access code, ensuring that other users can't see your data. </p>
  </div>

  <div>
    <h1>Reason to Celebrate</h1>
    <p>Be a better roommate, and live with better people. We make it easy to focus on the good times by handling the dirty work.</p>
  </div>
  </section>

  <section class="footer" id="contact">
    <div>
      <p>E-mail: radhika.marvin@yahoo.com</p>
      <p>Housemates copyright © 2015</p>
    </section>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/slidingParallax.js') }}"></script>
  <script>

$("#contact").click(function() {
    $('html,body').animate({
        scrollTop: $(".footer").offset().top},
        'slow');
});

$("#learn_more").click(function() {
    $('html,body').animate({
        scrollTop: $(".contents").offset().top},
        'slow');
});

  </script>
  </section>
</body>
</html>

