{% extends "base.html" %}
        {% block content %}
            <h3><i class="fa fa-angle-right"></i> White Board</h3>
          	<div class="row mt">
          		<div class="col-lg-12">
              <form action="" method="post" name="message">
                {{ form.hidden_tag() }}
                <table>
                  <tr>
                    <td>Say Something:</td>
                    <td> {{ form.message(size=30, maxlength=140) }}</td>
                    <td>
                      {% for error in form.message.errors %}
                      <span style="color: red;">[{{ error }}]</span><br>
                      {% endfor %}
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><input type="submit" value="Send"></td>
                    <td></td>
                </tr>
              </table>
            </form>
            {% for message in messages.items %}
            <p>
                {{ message.author.username }} says: <b>{{ message.message }}</b>
            </p>
            {% endfor %}
            {% if messages.has_prev %}<a href="{{ url_for('home', page=messages.prev_num) }}"><< Newer messages</a>{%
            else %}<< New messages{% endif %} |
            {% if messages.has_next %}<a href="{{ url_for('home', page=messages.next_num) }}">Older messages >></a>{%
            else %}Older messages >>{% endif %}
          		</div>
          	</div>
    {% endblock %}

