
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Housemates</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
<header>
  <div class="content">
    <hgroup>
      <h1>Housemates</h1>
      <i>put your whiteboard away.</i> </hgroup>
  </div>
  <div class="overlay"></div>
</header>
<section class="site">
  <nav> <a href="#">Home</a> <a href="#">Log In</a> <a href="#">Sign Up</a> <a href="#">Learn More</a> <a href="#">Contact</a> </nav><div class="jquery-script-ads"><script type="text/javascript">
</script>
</div></section>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/slidingParallax.js') }}"></script>



</body>
</html>

