
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Housemates</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link href="{{ url_for('static', filename='agency/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap Core CSS -->
  <link href="{{ url_for('static', filename='agency/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{ url_for('static', filename='agency/css/agency.css') }}" rel="stylesheet">

</head>

<body>
<header>
  <div class="content">
    <hgroup>
      <h1>Housemates</h1>
      <i>put your whiteboard away.</i> </hgroup>
  </div>
  <div class="overlay"></div>
</header>
<div class="wrapper">

<section class="site">
  <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                        {% if g.user.is_authenticated() %}
                        <li>
                        <a class="page scroll" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li>
                        <a class="page scroll" id="learn_more">Learn More</a>
                        </li>
                        <li>
                        <a class="page-scroll" id="contact">Contact</a>
                        </li>
                        <li>
                        <a class="page-scroll" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                        {% endif %}

                {% if not g.user.is_authenticated() %}
                        <li>
                        <a class="page-scroll" href="{{ url_for('login') }}">Log In</a>
                        </li>
                        <li>
                        <a class="page-scroll" href="{{ url_for('register') }}">Sign Up</a>
                        </li>
                        <li>
                        <a class="page-scroll" id="learn_more">Learn More</a>
                        </li>
                        <li>
                        <a class="page-scroll" id="contact">Contact</a>
                        </li>
                {% endif %}
             </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
            <!-- /.navbar-collapse -->

<section class="contents" id="learn_more">

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Simplify Life</h2>
                    <h3 class="section-subheading text-muted">Housemates takes the pain out of living with roomates by helping handle the more annoying parts of living together.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Finances</h4>
                    <p class="text-muted">We keep track of dept so you don't have to. Just enter what you buy for the house and we will take care of notifying your roomates what they owe you. We'll even crunch the numbers.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Balance Work</h4>
                    <p class="text-muted">Someone not helping around the house? Relax. Tell Housemates the chores and we will rotate through the roommates to keep track of whose turn it is.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Talk It Out</h4>
                    <p class="text-muted">Housemates gives you a place to talk all things house related. We give you a centralized comment board to leave messages, as well as anonymous comments.</p>
                </div>
            </div>
            <div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Track Bills</h4>
                    <p class="text-muted">We can remind you when your bills are due so you can avoid getting the power turned off on you during your parties! We can even let your roommates know how much they owe you each month.</p>
                 </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Privacy</h4>
                    <p class="text-muted">Your room gets its own unique access code, ensuring that other users can't see your data.
              </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Celebrate</h4>
                    <p class="text-muted">Be a better roommate, and live with better people. We make it easy to focus on the good times by handling the dirty work.</p>
                </div>
            </div>
        </div>
    </section>


  <div class="img-box">
    <div class="img-leaf"><p class="img-label">Simplify Life<br>
      <img class="icons" src="{{ url_for('static', filename='images/friends.svg') }}" alt"friend group">
      </p>
    </div>
      <p class="img-text"> Housemates takes the pain out of living with roomates by helping handle the more annoying parts of living together.</p>
  </div>

  <div class="img-box-right">
      <p class="img-text"> We keep track of dept so you don't have to. Just enter what you buy for the house and we will take care of notifying your roomates what they owe you. We'll even crunch the numbers.</p>
      <div class="img-leaf"><p class="img-label">Finances<br>
        <img class="icons" src="{{ url_for('static', filename='images/money.svg') }}" alt="track money">
    </p>
  </div>
  </div>

  <div class="img-box">
    <div class="img-leaf"><p class="img-label">Balance work<br>
      <img class="icons" src="{{ url_for('static', filename='images/chore.svg') }}" alt="sweeping">
    </p></div>
      <p class="img-text"> Someone not helping around the house? Relax. Tell Housemates the chores and we will rotate through the roommates to keep track of whose turn it is.</p>
  </div>

  <div class="img-box-right">
      <p class="img-text"> Housemates gives you a place to talk all things house related. We give you a centralized comment board to leave messages, as well as anonymous comments.</p>
      <div class="img-leaf"><p class="img-label">Talk it out<br>
        <img class="icons" src="{{ url_for('static', filename='images/talking.svg') }}" alt="talking">
    </p></div>
  </div>

  <div class="img-box">
    <div class="img-leaf"><p class="img-label">Track Bills<br>
      <img class="icons" src="{{ url_for('static', filename='images/bills.svg') }}" alt="bills">
    </p>
  </div>
      <p class="img-text"> We can remind you when your bills are due so you can avoid getting the power turned off on you during your parties! We can even let your roommates know how much they owe you each month.</p>
  </div>

    <div class="img-box-right">
      <p class="img-text"> Your room gets its own unique access code, ensuring that other users can't see your data.
      <div class="img-leaf"><p class="img-label">Privacy<br>
        <img class="icons" src="{{ url_for('static', filename='images/guard.svg') }}" alt="guard">
    </p></div>
  </div>

   <div class="img-box">
    <div class="img-leaf"><p class="img-label">Celebrate<br>
      <img class="icons" src="{{ url_for('static', filename='images/party.svg') }}" alt="party">
    </p>
  </div>
      <p class="img-text"> Be a better roommate, and live with better people. We make it easy to focus on the good times by handling the dirty work.</p>
  </div>

</div>
   </section>
   <div class="push"></div>
 </div>

  <section class="footer-container" id="contact">
    <div class="footer">
      <p>E-mail: radhika.marvin@yahoo.com</p>
      <p>Housemates copyright © 2015</p>
    </section>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/slidingParallax.js') }}"></script>
  <script>

$("#contact").click(function() {
    $('html,body').animate({
        scrollTop: $(".footer").offset().top},
        'slow');
});

$("#learn_more").click(function() {
    $('html,body').animate({
        scrollTop: $(".contents").offset().top},
        'slow');
});

  </script>
  </section>
</body>

</html>

