<!doctype html>
<html lang="en-US">
<head>

    <meta charset="utf-8">
    <title>Register</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/join_style.css')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" >
  </head>

<body>
<header>
  <div class="content">
    <div class="home"><a href="{{ url_for('index') }}">Return
        <img src="{{ url_for('static', filename='images/home.svg') }}" alt="home"></a>
</div>
  <hgroup>
    <div class="container">
    {% include 'flash.html' %}
      <div id="register">

        <h2><span class="fontawesome-lock"></span>Join/Create a House</h2>

        <form action="" method="POST" name="register">
            {{ form.hidden_tag() }}
          <fieldset>
            <p><label for="housename">Housename</label></p>
            <p><input type="housename" id="housename" name="housename" value="" placeholder="housename" data-required="required"></p>

            <!--<p><label for="email">Email Address</label></p>-->
            <!--<p><input type="email" id="email" name="email" value="" placeholder="email address" data-required="required"></p>-->

            <!--<p><label for="house">House</label></p>-->
            <!--<p><input type="house" id="house" name="house" value="" placeholder="house"></p>-->

            <p><label for="password">House Password</label></p>
            <p><input type="password" name="password" value="" id="password" placeholder="password" data-required="required"></p>

            <p><label for="password">Repeat Password</label></p>
            <p><input type="password" name="repeat_password" value="" id="repeat_password" placeholder="password" data-required="required"></p>

            <p><input type="submit" value="Join Now"></p>

          </fieldset>

        </form>
      </div> <!-- end register -->

      </div> <!-- end container -->
    </hgroup>
  </div> <!-- end content -->

    <div class="overlay"></div>
</header>

  </body>
</html>



