
<!doctype html>
<html lang="en-US">
<head>

    <meta charset="utf-8">
    <title>Login</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css')}}">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" >
  </head>

<body>
<header>
  <div class="content">
    <div class="home"><a href="{{ url_for('index') }}">Return
      <img src="../static/images/home.svg" alt="home"></a>
</div>
  <hgroup>
    <div class="container">
      <div id="login">

        <h2><span class="fontawesome-lock"></span>Sign In</h2>

        <form action="#" method="POST">

          <fieldset>

            <p><label for="username">Username</label></p>
            <p><input type="username" id="username" name="username" value="" placeholder="username" data-required="required"></p>

            <p><label for="password">Password</label></p>
            <p><input type="password" name="password" value="" id="password" placeholder="password" data-required="required"></p>

            <a href="{{ url_for('forgot_password') }}" class="forgot_password_link" tabindex="-1">
                <img src="{{ url_for('static', filename='question.png') }}" alt="question mark icon"/>
            </a>

            {{ form.hidden_tag() }}
            <p>
            {{ form.remember_me }}
            <font color="grey">Remember Me</font>
            </p>

            <p><input type="submit" value="Sign In"></p>

          </fieldset>

        </form>
        <p class="register">
            <a href="{{ url_for('register') }}">Sign up now</a>
        </p>


      </div> <!-- end login -->

      </div> <!-- end container -->
    </hgroup>
  </div> <!-- end content -->

    <div class="overlay"></div>
</header>

  </body>
</html>




