        {% extends "base.html" %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{
          url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
        {% block content %}
        <h3><i class="fa fa-angle-right"></i> To-Do Lists</h3>
	      <!-- COMPLEX TO DO LIST -->
              <div class="row mt">
                  <div class="col-md-12">
                      <section class="task-panel tasks-widget">
	                	<div class="panel-heading">
	                        <div class="pull-left"><h5><i class="fa fa-tasks"></i> Todo List - Complex Style</h5></div>
	                        <br>
	                 	</div>
                          <div class="panel-body">
                              <div class="task-content">

                                  <ul class="task-list">
                                    {% for chore in chores.items %}
                                      <li>
                                          <div class="task-checkbox">
                                              <input type="checkbox" class="list-child" value=""  />
                                          </div>
                                          <div class="task-title">
                                            <span class="task-title-sp"><b>{{ chore.title }}</b></span>
                                            <span class="badge bg-theme">{{ chore.get_status() }}</span>
                                              <div class="pull-right hidden-phone">
                                                  <button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
                                                  <button class="btn btn-primary btn-xs" id="edit"><i class="fa fa-pencil"></i></button>
                                                  <button class="btn btn-danger btn-xs" id="delete"><i class="fa fa-trash-o "></i></button>
                                              </div>
                                          </div>
                                          <div class="task-description">
                                            <span class="task-desciption-sp">{{ chore.description }}</span>
                                          </div>
                                      </li>
                                      {% endfor %}
                                    </ul>
                              </div>

                              <div class=" add-task-row">
                                  <a data-bind="click: beginAdd" class="btn btn-success btn-sm pull-left" href="todo_list.html#">Add New Tasks</a>
                                  <a class="btn btn-default btn-sm pull-right" href="todo_list.html#">See All Tasks</a>
                              </div>
                          </div>
                      </section>
                  </div><!-- /col-md-12-->
                </div><!-- /row -->

    <!--script for this page-->
	  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='assets/js/tasks.js') }}" type="text/javascript"></script>

    <script>
      jQuery(document).ready(function() {
          TaskList.initTaskWidget();
      });

      $(function() {
          $( "#sortable" ).sortable();
          $( "#sortable" ).disableSelection();
      });

    </script>
  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>

  <script type=text/javascript>
    function markDone() {
      $.post('/markDone', {
          status: 'Done'
        });
    }

  </script>

    <script type="text/javascript">
        function TasksViewModel() {
            var self = this;
            self.tasksURI = 'http://localhost:5000/todo/api/v1.0/tasks';
            self.username = "";
            self.password = "";
            self.tasks = ko.observableArray();

            self.ajax = function(uri, method, data) {
                var request = {
                    url: uri,
                    type: method,
                    contentType: "application/json",
                    accepts: "application/json",
                    cache: false,
                    dataType: 'json',
                    data: JSON.stringify(data),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization",
                            "Basic " + btoa(self.username + ":" + self.password));
                    },
                    error: function(jqXHR) {
                        console.log("ajax error " + jqXHR.status);
                    }
                };
                return $.ajax(request);
            }
            self.updateTask = function(task, newTask) {
                var i = self.tasks.indexOf(task);
                self.tasks()[i].uri(newTask.uri);
                self.tasks()[i].title(newTask.title);
                self.tasks()[i].description(newTask.description);
                self.tasks()[i].done(newTask.done);
            }

            self.beginAdd = function() {
                $('#add').modal('show');
            }
            self.add = function(task) {
                self.ajax(self.tasksURI, 'POST', task).done(function(data) {
                    self.tasks.push({
                        uri: ko.observable(data.task.uri),
                        title: ko.observable(data.task.title),
                        description: ko.observable(data.task.description),
                        done: ko.observable(data.task.done)
                    });
                });
            }
            self.beginEdit = function(task) {
                editTaskViewModel.setTask(task);
                $('#edit').modal('show');
            }
            self.edit = function(task, data) {
                self.ajax(task.uri(), 'PUT', data).done(function(res) {
                    self.updateTask(task, res.task);
                });
            }
            self.remove = function(task) {
                self.ajax(task.uri(), 'DELETE').done(function() {
                    self.tasks.remove(task);
                });
            }
            self.markInProgress = function(task) {
                self.ajax(task.uri(), 'PUT', { done: false }).done(function(res) {
                    self.updateTask(task, res.task);
                });
            }
            self.markDone = function(task) {
                self.ajax(task.uri(), 'PUT', { done: true }).done(function(res) {
                    self.updateTask(task, res.task);
                });
            }
            self.ajax(self.tasksURI, 'GET').done(function(data) {
                for (var i = 0; i < data.tasks.length; i++) {
                    self.tasks.push({
                        uri: ko.observable(data.tasks[i].uri),
                        title: ko.observable(data.tasks[i].title),
                        description: ko.observable(data.tasks[i].description),
                        done: ko.observable(data.tasks[i].done)
                    });
                }
            });
        }
        function AddTaskViewModel() {
            var self = this;
            self.title = ko.observable();
            self.description = ko.observable();

            self.addTask = function() {
                $('#add').modal('hide');
                tasksViewModel.add({
                    title: self.title(),
                    description: self.description()
                });
                self.title("");
                self.description("");
            }
        }
        function EditTaskViewModel() {
            var self = this;
            self.title = ko.observable();
            self.description = ko.observable();
            self.done = ko.observable();

            self.setTask = function(task) {
                self.task = task;
                self.title(task.title());
                self.description(task.description());
                self.done(task.done());
                $('edit').modal('show');
            }

            self.editTask = function() {
                $('#edit').modal('hide');
                tasksViewModel.edit(self.task, {
                    title: self.title(),
                    description: self.description() ,
                    done: self.done()
                });
            }
        }
        var tasksViewModel = new TasksViewModel();
        var addTaskViewModel = new AddTaskViewModel();
        var editTaskViewModel = new EditTaskViewModel();
        ko.applyBindings(tasksViewModel, $('#main')[0]);
        ko.applyBindings(addTaskViewModel, $('#add')[0]);
        ko.applyBindings(editTaskViewModel, $('#edit')[0]);

    </script>

{% endblock %}

